@font-face {
  font-family: 'Contax Pro 55';
  src: url('/src/assets/fonts/contax.OTF') format('otf');
  font-display: swap;
}
@font-face {
  font-family: 'Contax Pro 75 Bold';
  src: url('/src/assets/fonts/contaxBold.OTF') format('otf');
  font-display: swap;
}
@font-face {
  font-family: 'Contax Pro 66 Med Italic';
  src: url('/src/assets/fonts/contaxItalic.otf') format('otf');
  font-display: swap;
}

:root {
  --background: #ccc;
  --active: #ddd;
  --active-plus: #999;
  --text: #323232;
  --highlight: #dfcfe8;
  --font-italic: 'Contax Pro 66 Med Italic', Arial, sans-serif;
  --font-bold: 'Contax Pro 75 Bold', Arial, sans-serif;
}


p, a, h1, h2, h3, h4, span, label, input, button, select, textarea {
  font-family: 'Contax Pro 55', Arial, sans-serif;
  color: var(--text);
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100%;
  margin: 0;
  /* background-color: var(--background); */
  /* background-color: #fff; */
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-size: cover;
}


button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button--main {
  background-color: #c0a6cd;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.button-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:autofill {
  background: transparent;
}

.text-icon {
  width: 1rem;
  height: 1rem;
  padding: 0rem;
}

input[type="text"], input[type="password"], input[type="date"], textarea, select {
  width: 100%;
  border: none;
  outline: none;
  /* margin-bottom: 0.5rem; */
}

input[type="date"] {
  width: auto;
}
