@font-face {
  font-family: apercu;
  src: url(/src/assets/fonts/ApercuMono.ttf);
  font-display: swap;
}
@font-face {
  font-family: apercu;
  src: url(/src/assets/fonts/contax.OTF);
  font-display: swap;
}


/* :root {
  --background: #e6e7ed;
  --active: #d3d6e6;
  --active-plus: #9fa6cf;
  --text: #5a5396;
} */
:root {
  --background: #eee;
  --active: #ddd;
  --active-plus: #999;
  --text: #323232;
}


* {
  font-family: 'apercu', Arial, sans-serif;
  color: var(--text);
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100%;
  margin: 0;
  padding: 5rem 0 4rem;
  padding: 0 0 4rem;
  background-color: #efefef;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button--main {
  background-color: #c0a6cd;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.button-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .button-icon:focus, 
button:focus, 
a:focus {
  outline: 2px solid #000;
} */

.text-icon {
  width: 1rem;
  height: 1rem;
  padding: 0rem;
}

input[type="text"], input[type="password"], input[type="date"], textarea, select {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ddd;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  /* border: 1.5px solid #ddd; */
  /* border-left: 3px solid #c0a6cd; */
}

input[type="date"] {
  width: auto;
}

button[type="submit"] {
  margin-top: 1rem;
  background-color: #c0a6cd;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
