.notifications-move,
.notifications-enter-active,
.notifications-leave-active {
  transition: all 0.5s ease;
}
.notifications-enter-from,
.notifications-leave-to {
  opacity: 0;
  transform: translateY(-2rem);
}
.notifications-leave-active {
  position: absolute;
}


.auth-enter-active {
  animation: auth-in 0.2s cubic-bezier(0.81, 0.06, 0.14, 0.53);
}
.auth-leave-active {
  animation: auth-in 0.2s cubic-bezier(0.81, 0.06, 0.14, 0.53) reverse;
}
@keyframes auth-in {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
  }
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: all 0.3s cubic-bezier(0.81, 0.06, 0.14, 0.53);
}
.list-enter-from,
.list-leave-to,
.list-leave-active {
  opacity: 0;
}

.search-enter-active,
.search-leave-active {
  transition: opacity 0.3s ease;
}
.search-enter-from,
.search-leave-to {
  opacity: 0;
}
